<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.herman.ebookstore.mapper.ErrorLogMapper">
	<resultMap type="com.herman.ebookstore.pojo.ErrorLog" id="BaseResultMap">
		<id column="ERRORLOGID" property="errorLogId" jdbcType="INTEGER" />
		<result column="CREATEDTIME" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="CREATEDUSERID" property="createdUserId" jdbcType="VARCHAR" />
		<result column="EVENTACTION" property="eventAction" jdbcType="VARCHAR" />
		<result column="EVENTTYPE" property="eventType" jdbcType="VARCHAR" />
		<result column="ERRORLOGCONTENT" property="errorLogContent" jdbcType="VARCHAR" />
		<result column="ERRORLOGTIME" property="errorLogTime" jdbcType="VARCHAR" />
		<result column="ERRORLOGTIMEMONTH" property="errorLogTimeMonth" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		errorlogid,createdtime,createduserid,eventaction,eventtype,errorlogcontent,errorlogtime,errorlogtimemonth,remark
	</sql>
	<insert id="insertNewErrorLog"  parameterType="com.herman.ebookstore.pojo.ErrorLog" >
		insert into 
		MSTB_ERROR_LOG_INFO(createdtime,createduserid,eventaction,eventtype,errorlogcontent,errorlogtime,errorlogtimemonth,remark)
		values(sysdate(),#{createduserid},#{eventaction},#{eventtype},#{errorlogcontent},#{errorlogtime},#{errorlogtimemonth}),#{remark})
	</insert>
	<select id="selectOneErrorLog" parameterType="com.herman.ebookstore.pojo.ErrorLog" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"></include>
		from MSTB_ERROR_LOG_INFO 
		<!-- where error_log_id = -->
	</select>
</mapper>