<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.herman.ebookstore.mapper.UserMapper">
	<resultMap type="com.herman.ebookstore.pojo.User" id="BaseResultMap">
		<id column="USERCODE" property="usercode" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="PHONENUMBER" property="phonenumber" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
		<result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="ROLECODE" property="rolecode" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		username,usercode,password,phonenumber,createtime,updatetime,rolecode
	</sql>
	<select id="getUserList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from MSTB_USER
	</select>

	<select id="getUserListWhere" parameterType="com.herman.ebookstore.pojo.User" resultType="java.lang.Integer" >
		select count(*) from MSTB_USER
		<where>
			<if test="usercode != null and usercode !=''">
				and usercode = #{usercode}
			</if>
			<if test="username != null and username !=''">
				and username = #{username}
			</if>
			<if test="phonenumber != null and phonenumber !=''">
				and usercode = #{usercode}
			</if>
		</where>
	</select>

	<insert id="insertNewUser" parameterType="com.herman.ebookstore.pojo.User">
		insert into MSTB_USER
		(username,usercode,password,phonenumber,createtime,updatetime,rolecode)
		values(#{username},#{usercode},#{password},#{phonenumber},sysdate(),null,#{rolecode})
	</insert>
	
	<update id="updatePassword" parameterType="com.herman.ebookstore.pojo.User">
		update MSTB_USER
		set password=#{password},updatetime=sysdate()
		<where>
			<if test="usercode != null and usercode !=''">
				and usercode = #{usercode}
			</if>
			<if test="phonenumber != null and phonenumber !=''">
				and phonenumber = #{phonenumber}
			</if>
		</where>
	</update>
	
</mapper>