<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.herman.ebookstore.mapper.SDKInfoMapper">
	<resultMap type="com.herman.ebookstore.pojo.SDKInfo" id="BaseResultMap">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="CODE" property="code" jdbcType="VARCHAR" />
		<result column="PARAM" property="param" jdbcType="VARCHAR" />
		<result column="COUNT" property="count" jdbcType="VARCHAR" />
		<result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="MSG" property="msg" jdbcType="VARCHAR" />
		<result column="SMSID" property="smsid" jdbcType="VARCHAR" />
		<result column="UID" property="uid" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,code,param,count,createdate,mobile,msg,smsid,uid
	</sql>
	<insert id="insertNewSDKInfo"  parameterType="com.herman.ebookstore.pojo.SDKInfo" >
		insert into 
		MSTB_SDKINFO(code,param,count,createdate,mobile,msg,smsid,uid)
		values(#{code},#{param},#{count},sysdate(),#{mobile},#{msg},#{smsid},#{uid})
	</insert>
	<select id="selectOneSDKInfo" parameterType="com.herman.ebookstore.pojo.SDKInfo" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"></include>
		from MSTB_SDKINFO 
		where id=(
					select MAX(id) 
					from MSTB_SDKINFO 
					where uid= #{uid} and mobile=#{mobile}
				 )
	</select>
</mapper>