<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herman.ebookstore.mapper.UserMapper">
  <resultMap id="UserMapper" type="com.herman.ebookstore.pojo.User">
    <result property="id" column="id"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="username" column="username"/>
    <result property="usercode" column="usercode"/>
    <result property="password" column="password"/>
    <result property="phonenumber" column="phonenumber"/>
    <result property="roleId" column="role_id"/>
    <result property="campusId" column="campus_id"/>
    <result property="degree" column="degree"/>
    <result property="secondDegree" column="second_degree"/>
    <result property="yearStarted" column="year_started"/>
    <result property="yearEnd" column="year_end"/>
    <result property="deleteFlag" column="delete_flag"/>
  </resultMap>
</mapper>